body {
  font-family: "open_sansregular";
  font-size: 16px;
}

/*_________header___________*/
#header {
  background: #1e90ff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main_menu {
  display: flex;
  justify-content: space-around;
}

.main_menu li a {
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.main_menu_brend .navbar-brand {
  font-family: "open_sansbold";
  font-size: 23px;
  color: #fff;
}

.main_menu,
.navbar-light .navbar-nav .nav-link:hover {
  color: #666699;
}

.main_menu_brend .navbar-brand:hover {
  color: #666699;
}

.main_menu,
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 7rem;
}

.main_menu,
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border: solid 1px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* ____________contacts_form__________________ */

#main_page,
#tables,
#tables_main {
  background: #e0ffff;
}

#main_page {
  padding-top: 5%;
}

#tables_main {
  display: flex;
  justify-content: center;
  font-size: 17px;
  padding-top: 8%;
  padding-bottom: 10%;
}
.booking {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.booking1{
  margin-top: 100px;
  margin-bottom: 100px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.form-control{
  width: 150%;
}
li strong {
  font-family: "open_sansbold";
}
.form_group a{
 margin-right: 10px;
  font-size: 14px;
}
.form_group button{
    font-size: 14px;
}
.form_group{
 padding-top: 3%;

}
.edit_stile{
  line-height: 1.5;
  margin-top: 50px;
  margin-bottom: 50px;
width: 80%;
display: flex;
justify-content: center;
}
.edit_stile1{
   margin-top: 50px;
  margin-bottom: 50px;

}
.edit_stile2{
  line-height: 1.5;
  margin-bottom: 20px;

}
.edit_stile3{
  display: flex;
  
 
}
.edit_stile3 a{
 margin-right: 10px;
  
 
}
/*________footer____________*/

#footer {
  background: #1e90ff;
  padding: 20px;
  color: #fff;
}

.footer_name {
  font-family: "open_sansbold";
}
